.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }
}
